body {
	display: flex;
	background-color: black;
	margin: 0 auto;
	flex-direction: column;
}

button {
	color: rgb(0,0,0);
	font-size: 18px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

#screenContainer {
	display: flex;
	flex-direction: column;
	max-width: 960px;
	margin: 0 auto;
}


#topDisplayContainer {
	display: block;
	font-family: 'Anonymous Pro', monospace;
	font-size: 32px;
	text-align: center;
	color: white;
	padding: 10px;
	margin: 0 auto;
	max-width: 600px;
}

.appTitle {
	font-size: 40px;
}

#userDisplay{
	margin: 0 auto;
	max-width: 300px;
	font-family: 'Anonymous Pro', monospace;
	font-size: 14px;
	text-align: center;
	color: white;
	background-color: black;
	height: 30px;
	line-height: 15px;
}

#userTwoDisplay{
	margin: 0 auto;
	max-width: 300px;
	font-family: 'Anonymous Pro', monospace;
	font-size: 14px;
	text-align: center;
	color: white;
	background-color: black;
	height: 30px;
	line-height: 15px;
}

#topDisplayContainer input {
	font-family: 'Anonymous Pro', monospace;
	text-align: center;
	margin: 0 auto;
	padding: 5px;
	background-color: black;
	color: white;
	border-radius: 7px;
}

.playBtn {
	background-color: white;
	color: black;
	font-family: 'Anonymous Pro', monospace;
	font-size: 24px;
	text-align: center;
	border-radius: 40px;
	height: 50px;
	width: 250px;
}


#levelDisplay {
	margin: 0 auto;
	max-width: 300px;
	font-family: 'Anonymous Pro', monospace;
	font-size: 18px;
	text-align: center;
	color: white;
/*	background-color: black;*/
	height: 30px;
	line-height: 20px;
	font-weight: bold;
}


#gameConsoleContainer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 75%;
	background-color: black;
	padding: 25px;
}


#topRow {
	text-align: center;
	justify-content: center;
	margin-bottom: 75px;
}

#middleRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


#thirdRow{
	margin-top: 75px;
	text-align: center;
}

#programMessagesContainer {
	font-family: 'Anonymous Pro', monospace;
	text-align: center;
	margin: 0 auto;
	background-color: black;
	color: white;
	margin-top: 20px;
	padding: 20px;
}

#redButton {
  	border: 3px solid white;
  	padding: 10px;
  	background-color: rgb(255,0,0);
}

#greenButton {
	float: left;
	font-weight: 700;
  	background-color: rgb(0,128,0);
  	border: 3px solid white;
  	padding: 10px;
}

#yellowButton {
	float: right;
	font-weight: 700;
  	background-color: rgb(200,200,0);
  	border: 3px solid white;
  	padding: 10px;
}

#blueButton {
  	border: 3px solid white;
  	padding: 10px;
  	background-color: rgb(0,0,255);
}

#userStories p {
	margin: 25px 0;
	max-width: 300px;
	max-height: 300px;
	font-family: 'Anonymous Pro', monospace;
	font-size: 18px;
	text-align: justify;
	color: white;
}



/*flex-flow: column-reverse;
flex-wrap: wrap-reverse;
justify-content: center;
align-content: space-between;*/
