body {
	background-color: black;
}

h1 {
	margin: 0 auto;
}


button {
	color: rgb(0,0,0);
	font-size: 18px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}


#screenContainer {
	display: block;
	max-width: 800px;
	border: 3px solid red;

}


#topDisplayContainer {
	display: block;
	text-align: center;
	color: white;
	padding: 10px;
	margin: 0 auto;
	max-width: 600px;
	border: 3px solid red;
}


#topDisplayContainer input {
	margin: 0 auto;
	padding: 5px;
	background-color: black;
	color: white;
	border-radius: 8px;
	/*margin: 0 auto;*/
}


#levelDisplay {
	max-width: 75%;
	border: orange;
	padding: 10px;
}


#buttonsContainer {
	display: block;
	margin: 0 auto;
  	width: 75%;
  	border: 3px solid green;
  	padding: 10px;
}


#gameConsoleContainer {
	display: block;
	margin: 0 auto;
	max-width: 75%;
	border: 3px solid green;
	background-color: black;
	padding: 10px;
}


#topRow{
	text-align: center;
	justify-content: center:;
	border: 3px solid green;
}



#middleRow{
	/*margin-right: auto;
	margin-left: auto;*/
	border: 3px solid green;
}


#thirdRow{
	text-align: center;
	/*margin-left: 0 auto;
	margin-right: 0 auto;*/
	border: 3px solid green;
}


#redButton {
  	border: 3px solid white;
  	padding: 10px;
  	background-color: rgb(255,0,0);
}


#yellowButton {
	font-weight: 700;
  	background-color: yellow;
  	border: 3px solid white;
  	padding: 10px;
}


#programMessagesContainer {
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;
	max-width: 50%;
	border: 3px solid red;
}


#gameMessagesDisplay {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width: 50%;
	border: 3px solid orange;
}


#greenButton {
	font-weight: 700;
  	background-color: rgb(0,128,0);
  	border: 3px solid white;
  	padding: 10px;
}


#blueButton {
  	border: 3px solid white;
  	padding: 10px;
  	background-color: blue;
}



/*flex-flow: column-reverse;
flex-wrap: wrap-reverse;
justify-content: center;
align-content: space-between;*/
