body {
	background-color: black;
}

button {
	color: rgb(0,0,0);
	font-size: 18px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

#screenContainer {

}

#topDisplayContainer {
	margin: 0 auto;
	width: 500px;
	height: 100px;
	border: 3px solid green;
}

#levelDisplay {
	width: 200px;
	height: 100px;
	border: orange;
	padding: 10px;
}

#buttonsContainer {
	/*display: flex;*/
	/*margin: auto;*/
  	width: 75%;
  	border: 3px solid green;
  	padding: 10px;
	flex-direction: row-reverse;
}

#gameConsoleContainer {
	/*display: flex;*/
	justify-content: space-around;
	border: 3px solid green;

}

#redButton {
	/*margin: auto;*/
  	/*width: 50%;*/
  	border: 3px solid white;
  	padding: 10px;
  	background-color: rgb(255,0,0);
}

#yellowButton {
	font-weight: 700;
	/*margin: auto;*/
  	/*height: 50%;*/
  	background-color: yellow;
  	position: relative;
  	/*width: 60px;*/
  	border: 3px solid white;
  	padding: 10px;
}

#programMessagesContainer {
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px;
	width: 300px;
	height: 300px;
	border: 3px solid red;
}

#programMessagesDisplay {
	margin: 0 auto;
	padding: 10px;
	width: 250px;
	height: 250px;
	border: 3px solid orange;
}

#blueButton {
	/*margin: auto;*/
  	/*width: 50%;*/
  	border: 3px solid white;
  	padding: 10px;
  	background-color: blue;
}

#greenButton {
	font-weight: 700;
	/*margin: auto;*/
  	/*height: 50%;*/
  	background-color: green;
/*  	position: relative;*/
  	/*width: 60px;*/
  	border: 3px solid white;
  	padding: 10px;
}